	*{
		margin: 0;
		padding: 0;
	}

	header{
		padding: 30px;
		background-color: white;
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 1;
	}

	nav{
		background-color: white;
		position: fixed;
		width: 6%;
		height: 100vh;
		z-index: 6;
		overflow-y: auto;
	}

	nav li{
		list-style-type: none;
		margin: 15px;
		padding: 8px;
		background-color: white;
		border-radius: 5px;
		overflow: hidden;
		white-space: nowrap;
	}

	nav:hover{
		width: 20%;
		transition: 1s;
	}

	section{
		display: flex;
		flex-direction: row;
		padding: 78px 0 0 60px;
		background-color: #e7e7e7;
	}

	section div.left-section{
		flex: 1;
		padding: 30px;
		background-color: #e7e7e7;
	}
	section div.container{
		position: sticky;
		top: 100px;
		list-style: none;
	}

	section div.mid-section{
		flex: 2;
		padding: 30px;
		background-color: #e7e7e7;
	}

	section div.right-section{
		flex: 1;
		padding: 30px;
		background-color: #e7e7e7;
	}

	div.card{
		border-radius: 10px;
		margin: 10px;
		margin-bottom: 10px;
		padding: 20px;
		background-color: white;
		box-shadow: 0 3px 6px rgba(25,32,36,0.16), 0 -1px 4px rgba(25,32,36,0.04);
	}
	footer{
		display: block;
    	height: 500px;
		background-color: black;
		padding: 20px;
	}

	nav li i{
		padding: 8px;
	}

	::-webkit-scrollbar {
	  width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
